.section-project-header {
    transition: all 0.25s linear;
    opacity: 0;
    width: 100%;
    max-width: fit-content;
    margin-bottom: 5rem;
    margin-top: 2rem;
    padding: 0 4rem;
    align-items: center;
}

.project-header-wrapper {
    max-width: 52rem;
}

.project-title {
    margin-bottom: 2rem;
    font-weight: 500;
}

.project-blurb-wrapper {
    margin-bottom: 2rem;
}

.project-blurb {
    margin-bottom: 1.5rem;
    margin-top: 0;
    line-height: 1.7;
    font-size: 1.15rem;
    color: var(--BW-60);
}

.project-details {
    display: flex;
    justify-content: space-between;
    color: var(--BW-95);
    margin-top: 2rem;
}

.project-details-column {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding-bottom: .3rem;
    padding-top: .3rem;
}

.project-details-column-list {
    color: var(--BW-50);
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    color: var(--BW-50);
    margin: 0;
}

.project-details-column-link {
    -webkit-transition: color .25s ease;  
    -moz-transition: color .25s ease;  
    -o-transition: color .25s ease;  
    -ms-transition: color .25s ease;  
    transition: color .25s ease;
}

.project-details-column-link:hover {
    color: var(--BW-95);
}

.services-list {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    gap: .5rem;
    margin-top: .1rem;
    max-width: 19rem;
}

.services-list-label {
    background-color: var(--BW-10);
    color: var(--BW-60);
    border-radius: 100px;
    padding: .5rem .75rem;
    display: inline-block;
}


.section-project-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
    max-width: 68rem;
    transition: all 0.25s linear;
    opacity: 0;
    padding-bottom: 1rem;
}

/* .project-image-component{
    display: flex;
    flex-direction: column;
    gap: 1rem;
} */

.project-image-stack {
    display: flex;
    gap: 1rem;
    width: 100%;
}


.project-image-stack.row {
    flex-direction: row;
}

.project-image-stack.column {
    flex-direction: column;
}



.project-image {
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
    border-radius: .8rem;
    background-color: var(--BW-20);
}

.project-image.half {
    height: calc((36rem - 1rem) / 2);
    
}

.project-image.full {
    height: 36rem;
    
}





.project-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2.1;
    font-size: 1rem;
}

.project-para {
    width: 100%;
    max-width: 42rem;
}



.project-body-text {
    padding: 1rem 8rem;
    line-height: 1.5;
}


.project-details > .separatorX {
    display: none;
}


.project-details-column.mobile-view {
    display: none;
}



@media only screen and (max-width: 900px) {
    
    .project-details-column.desktop-view {
        display: none;
    }

    .project-details-column.mobile-view {
        display: flex;
    }

    .project-details > .separatorX {
        display: block;
    }

    .project-details > .separatorY {
        display: none;
    }

    .project-details {
        flex-direction: column;
        gap: 2rem;
    }

    .project-details-column {
        width: 100%;
    }

    .services-list {
        max-width: 100%;
        flex-direction: row;
    }

    .collab_links-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 4rem;
    }
   
}

@media only screen and (max-width: 800px) {

    .project-image.half {
        height: calc((26rem - 1rem) / 2);
        
    }
    
    .project-image.full {
        height: 26rem;
        
    }

    .project-blurb {
        font-size: 1rem;
    }

}

@media only screen and (max-width: 700px) {

    .section-project-header {
        padding: 0 1rem;
        margin-top: 5rem;
    }

}


@media only screen and (max-width: 600px) {

    .project-image.half {
        height: calc((16rem - 1rem) / 2);
        
    }
    
    .project-image.full {
        height: 16rem;
        
    }
}