/* ––––––  GLOBAL COLOURS  –––––– */

    :root {
        --yellowFull: #E1FE02;
        --yellowFade: rgba(225, 254, 2, 0.8);
        --BW-00: #ffffff;
        --BW-10: #f6f6f6;
        --BW-20: #eeeeee;
        --BW-30: #C7C7C7;
        --BW-50: #787878;
        --BW-60: #595959;
        --BW-80: #383838;
        --BW-90: #272727;
        --BW-95: #181818;

        --whiteOpacity: rgba(255, 255, 255, 0);
        --blackOpacity: #00000000;
    }

/* ––––––  END GLOBAL COLOURS  –––––– */



/* ––––––  HIGHLIGHT/SELECTION COLOUR  –––––– */

    ::-moz-selection {
        color: var(--BW-95);
        background: var(--yellowFull);
    }
    
    ::selection {
        color: var(--BW-95);
        background: var(--yellowFull);
    }

/* ––––––  END HIGHLIGHT/SELECTION COLOUR  –––––– */




body {
    color: var(--BW-95);
    font-family: "Neue Montreal", Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 16px 0px 16px;

}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 60rem;
    margin-bottom: 5rem;
    transition: all 0.25s linear;
    opacity: 0;
}

.hide {
    display: none !important;  
}

.overflow-hidden {
    overflow: hidden;
}

  
.fade-out {
    -webkit-transition: all .3s ease;  
    -moz-transition: all .3s ease;  
    -o-transition: all .3s ease;  
    -ms-transition: all .3s ease;  
    transition: all .3s ease;
    opacity: 0;
    transform: scale(.98);
}

.fade-in {
    -webkit-transition: all .4s ease;  
    -moz-transition: all .4s ease;  
    -o-transition: all .4s ease;  
    -ms-transition: all .4s ease;  
    transition: all .4s ease;
    opacity: 1;
    transform: scale(1);
}

.move-up {
    transform: translateY(200px)
}

button {
    display: flex;
    width: fit-content;
    padding: .75rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 32px;
    background-color: var(--yellowFull);
    font-weight: 500;
}

.button-inactive {
    opacity: .5;
    background-color: var(--yellowFull);
    cursor: not-allowed;
}

.separatorY {
    width: 1px;
    background-color: var(--BW-30);
}

.separatorX {
    height: 1px;
    width: 100%;
    background-color: var(--BW-30);
}

.padding-right-small {
    margin-right: .5rem;
}


/* ––––––  RESPONSIVE CSS  –––––– */


    @media only screen and (max-width: 800px) {

        section {
            max-width: 600px;
        }

    }