@font-face {
    font-family: "Neue Montreal";
    src: url(/fonts/NeueMontreal-Regular.otf) format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Neue Montreal";
    src: url(/fonts/NeueMontreal-Medium.otf) format('opentype');
    font-weight: 500;
    font-size: normal;
}

@font-face {
    font-family: "Mondwest";
    src: url(/fonts/Mondwest-Regular.otf) format('opentype');
    font-weight: 500;
    font-size: normal;
}