nav {
    display: flex;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    z-index: 1;
    
    width: fit-content;
    padding: 6px;
    gap: 4px;
    bottom: 40px;

    border-radius: 30px;
    border: 1px solid rgba(203, 203, 203, 0.52);    
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background: rgba(255, 255, 255, 0.77);
    
}

.nav-animation {
    animation-name: moveUp;
    animation-duration: .4s;
    animation-timing-function: ease;
    animation-delay: .8s;
    animation-fill-mode: both;
    bottom: -62px
}

@keyframes moveUp {
    from {bottom: -62px}
    to {bottom: 40px}
}

.navlink {
    -webkit-transition: all .25s ease;  
    -moz-transition: all .25s ease;  
    -o-transition: all .25s ease;  
    -ms-transition: all .25s ease;  
    transition: all .25s ease;
    padding: 14px 18px 15px 18px;
    border-radius: 90px;
    outline: .8px solid var(--whiteOpacity);
}

.navlink:hover {
    background: var(--BW-10);
    outline: .8px solid var(--BW-00);
}

.current {
    background: var(--yellowFade);
    outline: .8px solid var(--whiteOpacity);
}

.current:hover {
    background: var(--yellowFade);
    outline: .8px solid var(--whiteOpacity);
}

.navSeparator {
    height: 28px;
    margin: 0px 2px 0px 2px;
}

#projects-tab {
    display: none;
}


@media only screen and (max-width: 500px) {
    #projects-tab {
        display: block;
    }

    #all-tab, #design-tab, #dev-tab{
        display: none;
    }
}
