@import "/assets/css/normalize.css";

.navWrapper {
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    animation-name: moveUp;
    animation-duration: .4s;
    animation-timing-function: ease;
    animation-delay: .8s;
    animation-fill-mode: both;

}

@keyframes moveUp {
    from {bottom: -62px}
    to {bottom: 60px}
}

nav {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 6px;
    gap: 4px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(123deg, rgba(79, 79, 79, 0.08) 1.74%, rgba(79, 79, 79, 0.08) 1.75%, rgba(255, 255, 255, 0.08) 33.05%, rgba(79, 79, 79, 0.08) 97.16%);
    -webkit-backdrop-filter: blur(24.999996185302734px);
    backdrop-filter: blur(24.999996185302734px);
}

.navlink {
    -webkit-transition: all .25s ease;  
    -moz-transition: all .25s ease;  
    -o-transition: all .25s ease;  
    -ms-transition: all .25s ease;  
    transition: all .25s ease;
    padding: 14px 18px 15px 18px;
    border-radius: 90px;
    outline: .8px solid var(--whiteOpacity);
}

.navlink:hover {
    background: var(--BW-10);
    outline: .8px solid var(--BW-00);
}

.current {
    background: var(--yellowFade);
    outline: .8px solid var(--whiteOpacity);
}

.current:hover {
    background: var(--yellowFade);
    outline: .8px solid var(--whiteOpacity);
}

.separator {
    width: 1px;
    height: 28px;
    background-color: var(--BW-30);
    margin: 0px 2px 0px 2px;

}