
/* ––––––  COLOURS  –––––– */

    :root {
        --yellowFull: #E1FE02;
        --yellowFade: rgba(225, 254, 2, 0.8);
        --BW-00: #ffffff;
        --BW-10: #f6f6f6;
        --BW-20: #eeeeee;
        --BW-30: #C7C7C7;
        --BW-50: #787878;
        --BW-60: #595959;
        --BW-80: #383838;
        --BW-90: #272727;
        --BW-95: #181818;

        --whiteOpacity: rgba(255, 255, 255, 0);
        --blackOpacity: #00000000;
    }

/* ––––––  END COLOURS  –––––– */

::-moz-selection { /* Code for Firefox */
    color: var(--BW-95);
    background: var(--yellowFull);
  }
  
  ::selection {
    color: var(--BW-95);
    background: var(--yellowFull);
  }


body {
    color: var(--BW-95);
    font-family: "Neue Montreal", Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 16px 0px 16px;
    
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 60rem;
    margin-bottom: 4.5rem;
    transition: all 0.25s linear;
    opacity: 0;
}

.bento-section {
    width: 100%;
    max-width: 100dvw;
}

.hide {
    display: none !important;  
}

header {
    height: 50px;
    padding: 16px 16px 16px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    width: 30px
}

.bento-all {  
    margin-bottom: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 16px 16px;
    grid-auto-flow: row;
    grid-template-areas:
      "tile-1 tile-1 tile-2 tile-2"
      "tile-3 tile-4 tile-5 tile-6"
      "tile-3 tile-4 tile-7 tile-7"
      "tile-8 tile-8 tile-9 tile-10"
      "tile-11 tile-12 tile-9 tile-10"
      "tile-13 tile-13 tile-14 tile-14";

}

.bento-design {  
    margin-bottom: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px 16px;
    grid-auto-flow: row;
    grid-template-areas:
      "tile-1 tile-1 tile-2 tile-2"
      "tile-3 tile-4 tile-5 tile-6"
      "tile-3 tile-4 tile-7 tile-7";

}

.bento-dev {  
    margin-bottom: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px 16px;
    grid-auto-flow: row;
    grid-template-areas:
      "tile-1 tile-1 tile-2 tile-2"
      "tile-3 tile-4 tile-5 tile-6"
      "tile-3 tile-4 tile-7 tile-7";

}

.bento-articles {  
    margin-bottom: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px 16px;
    grid-auto-flow: row;
    grid-template-areas:
      "tile-1 tile-1 tile-2 tile-2"
      "tile-3 tile-4 tile-5 tile-6"
      "tile-3 tile-4 tile-7 tile-7";

}
  
.tile-1 { 
    grid-area: tile-1;
    height: calc(((100dvh - 66px) * 0.33) - 24px);
    min-height: 215px;
    max-height: 480px;
}
  
.tile-2 { 
    grid-area: tile-2;
    height: calc(((100dvh - 66px) * 0.33) - 21.33px);
    min-height: 215px;
    max-height: 480px;
}
  
.tile-3 {  
    grid-area: tile-3;
    height: calc(((100dvh - 66px) * 0.66) - 24px);
    min-height: 446px;
    max-height: 976px;
}

.tile-4 { 
    grid-area: tile-4;
    height: calc(((100dvh - 66px) * 0.66) - 24px);
    min-height: 446px;
    max-height: 976px;
}

.tile-5 { 
    grid-area: tile-5;
    height: calc(((100dvh - 66px) * 0.33) - 21.33px);
    min-height: 215px;
    max-height: 480px;
}

.tile-6 { 
    grid-area: tile-6;
    height: calc(((100dvh - 66px) * 0.33) - 21.33px);
    min-height: 215px;
    max-height: 480px;
}

.tile-7 { 
    grid-area: tile-7;
    height: calc(((100dvh - 66px) * 0.33) - 21.33px);
    min-height: 215px;
    max-height: 480px;
}

.tile-8 { 
    grid-area: tile-8;
    height: calc(((100dvh - 66px) * 0.33) - 24px);
    min-height: 215px;
    max-height: 480px;
}

.tile-9 {  
    grid-area: tile-9;
    height: calc(((100dvh - 66px) * 0.66) - 24px);
    min-height: 446px;
    max-height: 976px;
}

.tile-10 {  
    grid-area: tile-10;
    height: calc(((100dvh - 66px) * 0.66) - 24px);
    min-height: 446px;
    max-height: 976px;
}

.tile-11 { 
    grid-area: tile-11;
    height: calc(((100dvh - 66px) * 0.33) - 21.33px);
    min-height: 215px;
    max-height: 480px;
}

.tile-12 { 
    grid-area: tile-12;
    height: calc(((100dvh - 66px) * 0.33) - 21.33px);
    min-height: 215px;
    max-height: 480px;
}

.tile-13 { 
    grid-area: tile-13;
    height: calc(((100dvh - 66px) * 0.33) - 24px);
    min-height: 215px;
    max-height: 480px;
}

.tile-14 { 
    grid-area: tile-14;
    height: calc(((100dvh - 66px) * 0.33) - 24px);
    min-height: 215px;
    max-height: 480px;
}

.tile {
    display: flex;
    background-color: var(--BW-10);
    border-radius: 20px;
    transform: scale(.98);
    opacity: 0;
}

.tile:hover {
    background-color: rgb(225, 225, 225);
    cursor: pointer;
}

  
.fade-out {
    -webkit-transition: all .3s ease;  
    -moz-transition: all .3s ease;  
    -o-transition: all .3s ease;  
    -ms-transition: all .3s ease;  
    transition: all .3s ease;
    opacity: 0;
    transform: scale(.98);
}

.fade-in {
    -webkit-transition: all .4s ease;  
    -moz-transition: all .4s ease;  
    -o-transition: all .4s ease;  
    -ms-transition: all .4s ease;  
    transition: all .4s ease;
    opacity: 1;
    transform: scale(1);
}

.move-up {
    transform: translateY(200px)
}

button {
    display: flex;
    width: fit-content;
    padding: .75rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 32px;
    background-color: var(--yellowFull);
    font-weight: 500;
}

.separatorY {
    width: 1px;
    background-color: var(--BW-30);
}

.separatorX {
    height: 1px;
    background-color: var(--BW-30);
}



.profile-section {
    padding-top: 5rem;
    gap: 4.5rem;
}

.profile-image {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: 0% 50%;
    border-radius: 1rem;
}



.resume-grid {
    box-sizing: border-box;
    grid-column-gap: 3rem;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    grid-area: span 1 / span 1 / span 1 / span 1;
    margin-bottom: 4.5rem;
}

.resume-grid-column {
    box-sizing: border-box;
    grid-area: span 1 / span 1 / span 1 / span 1;
    font-weight: 500;
}

.resume-list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    margin-top: 1.5rem;
    
}

.resume-list-item-location {
    color: var(--BW-50);
    font-weight: 400;
}


.skill-list {
    padding-top: 1.75rem;
}

.skill-list-label {
    background-color: var(--BW-20);
    border-radius: 100px;
    margin-bottom: .5rem;
    margin-right: .5rem;
    padding: .5rem .75rem;
    display: inline-block;
}