@import "/assets/css/fonts.css";
@import "/assets/css/nav.css";
@import "/assets/css/normalize.css";



body {
    color: var(--BW-95);
    font-family: "Neue Montreal", Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 400;
    justify-content: center;
    display: flex;
}


.bento-wrapper {
    padding: 16px 16px 0px 16px;
    height: auto;
    width: 100dvw;
    transition: all 0.25s linear;
}

.bento-all {  
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px 16px;
    grid-auto-flow: row;
    grid-template-areas:
      "tile-1 tile-1 tile-2 tile-2"
      "tile-3 tile-4 tile-5 tile-6"
      "tile-3 tile-4 tile-7 tile-7";

}

.bento-design {  
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px 16px;
    grid-auto-flow: row;
    grid-template-areas:
      "tile-1 tile-1 tile-2 tile-2"
      "tile-3 tile-4 tile-5 tile-6"
      "tile-3 tile-4 tile-7 tile-7";

}

.bento-dev {  
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px 16px;
    grid-auto-flow: row;
    grid-template-areas:
      "tile-1 tile-1 tile-2 tile-2"
      "tile-3 tile-4 tile-5 tile-6"
      "tile-3 tile-4 tile-7 tile-7";

}

.bento-articles {  
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px 16px;
    grid-auto-flow: row;
    grid-template-areas:
      "tile-1 tile-1 tile-2 tile-2"
      "tile-3 tile-4 tile-5 tile-6"
      "tile-3 tile-4 tile-7 tile-7";

}
  
.tile-1 { 
    grid-area: tile-1;
    height: calc(33.33dvh - 22px);
    
}
  
.tile-2 { 
    grid-area: tile-2;
    height: calc(33.33dvh - 22px);
}
  
.tile-3 {  
    grid-area: tile-3;
    height: calc(66.66dvh - 26px);
}

.tile-4 { 
    grid-area: tile-4;
    height: calc(66.66dvh - 26px);

}

.tile-5 { 
    grid-area: tile-5; 
}

.tile-6 { 
    grid-area: tile-6; 
}

.tile-7 { 
    grid-area: tile-7; 
}


.tile {
    display: flex;
    background-color: var(--BW-10);
    border-radius: 20px;
    transform: scale(.95);
    opacity: 0;
}

  
.fade-out {
    -webkit-transition: all .4s ease;  
    -moz-transition: all .4s ease;  
    -o-transition: all .4s ease;  
    -ms-transition: all .4s ease;  
    transition: all .4s ease;
    opacity: 0;
    transform: scale(.95);
}

.fade-in {
    -webkit-transition: all .4s ease;  
    -moz-transition: all .4s ease;  
    -o-transition: all .4s ease;  
    -ms-transition: all .4s ease;  
    transition: all .4s ease;
    opacity: 1;
    transform: scale(1);
}

.move-up {
    transform: translateY(200px)
}