<link rel="stylesheet" href="/components/header/header.css">

<header>
    <a class="link-delay" href="/index.html">
        <img class="logo" src="/assets/img/header/logo-black.svg" alt="logo of the letter D">
    </a>
    <div class="contact-wrapper">
        <button id="open-contact">Hire me &nbsp;↗</button>
        <button id="close-contact" class="hide">Close</button>
        <div class="contact-overlay">
            
            <div class="contact-component hide">
                <div class="contact-spacer"></div>
                <div class="contact-email">
                    <h3>Let's get to work</h3>
                    
                    <a href="mailto:hello@damianpetrov.com" class="contact-link">
                        <h3>hello@damianpetrov.com</h3>
                        <!-- <div class="contact-link-icon">↗</div> -->
                    </a>
                </div>
                
                <div class="social-links contact-socials">
                    <a href="https://github.com/damian-dp" target="_blank" class="social-buttons">
                        <img src="/assets/img/footer/github-icon.svg" alt="Github logo" class="social-icons git">
                    </a>
                    <a href="https://www.twitter.com/damianpetrov_" target="_blank" class="social-buttons">
                        <img src="/assets/img/footer/twitter-icon.svg" alt="Twitter logo" class="social-icons">
                    </a>
                    <a href="https://www.linkedin.com/in/damianpetrov/" target="_blank" class="social-buttons linkedin">
                        <img src="/assets/img/footer/linkedin-icon.svg" alt="LinkedIn logo" class="social-icons">
                    </a>
                </div>
            
            </div>

        </div>
    </div>
</header>