header {
    height: 50px;
    padding: 16px 16px 16px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    width: 30px
}