footer {
    display: flex;
    width: 100%;
    max-width: 1090px;
    flex-direction: column;
    align-items: center;
    gap: 2.25rem;
    margin-top: 5rem;
    color: var(--BW-50);
}

.footer-top {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--BW-30);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-bottom {
    padding: 2rem 0 3rem 0;
    color: var(--BW-50);
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid var(--BW-30);
}

.footer-directory {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: var(--BW-95);
}

.footer-directory-column {
    padding: .5rem 0;
}

.footer-directory-column-list {
    color: var(--BW-50);
    list-style: none;
    padding: 0;
    margin-top: 1.15rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--BW-50);
}

.footer-directory-column-link {
    -webkit-transition: all .25s ease;  
    -moz-transition: all .25s ease;  
    -o-transition: all .25s ease;  
    -ms-transition: all .25s ease;  
    transition: all .25s ease;
}

.footer-directory-column-link:hover {
    color: var(--BW-95);
}

.local-data {
    display: flex;
    flex-direction: row;
    gap: .8rem;
}

#local-name {
    color: var(--BW-95);
}

#local-time {
    width: 3.2rem;
}

.current-availability {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

#current-availability-indicator {
    width: .5rem;
    height: .5rem;
    border-radius: 20px;
    background-color: var(--BW-95);
    transition: .4s;
}


.currently-listening-widget {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.currently-listening-widget-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .25rem;
}

#current-song {
    color: var(--BW-95);
}

.audio-wave{
    display: flex;
    align-items: center;
}

dotlottie-player {
    height: 2rem;
    width: 2rem;

}

.social-links {
    display: flex;
    gap: .8rem;
    
}

.social-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--BW-20);
    border-radius: 100%;
    height: 2.8rem;
    width: 2.8rem;
    box-sizing: border-box;
}


.social-icons {
    width: 100%;
    opacity: .35;
    transition: .25s;
    padding: 0.8rem;
}

.social-icons:hover {
    opacity: 1;    
}

.git {
    padding: .7rem;
}






@media only screen and (max-width: 600px) {
    
    footer {
        gap: 0;
    }

    .footer-directory {
        display: none;
    }

    .footer-top {
        padding-bottom: 1.5rem;
    }

    .footer-bottom {
        border: none;
        justify-content: center;
        padding-top: 1.5rem;
        padding-bottom: 2rem;   
    }

    .local-data {
        display: none;
    }

    .currently-listening-widget {
        gap: .8rem;
    }

    dotlottie-player {
        height: 1.5rem;
        width: 1.5rem;

    }

    .social-links {
        gap: 0.5rem;
    }

}