<link rel="stylesheet" href="/components/footer/footer.css">


<footer>
        
    <div class="footer-top text-size-small">
        <div class="currently-listening-widget">
            <div class="audio-wave">
                <dotlottie-player src="/assets/img/footer/audio_wave_black.json" speed="1" direction="1" playMode="normal" loop autoplay></dotlottie-player>
            </div>
            <div class="currently-listening-widget-details">
                <div>Currently Listening to</div>
                <div id="current-song">Current song name by Artist name</div>
            </div>
        </div>
        <div class="current-availability hide">
            <div id="current-availability-indicator"></div>
            <div id="current-availability-label">Currently available</div>
        </div>
        <div class="social-links">
            <a href="https://github.com/damian-dp" target="_blank" class="social-buttons">
                <img src="/assets/img/footer/github-icon.svg" alt="Github icon" class="social-icons git">
            </a>
            <a href="https://www.twitter.com/damianpetrov_" target="_blank" class="social-buttons">
                <img src="/assets/img/footer/twitter-icon.svg" alt="Github icon" class="social-icons">
            </a>
            <a href="https://www.linkedin.com/in/damianpetrov/" target="_blank" class="social-buttons linkedin">
                <img src="/assets/img/footer/linkedin-icon.svg" alt="Github icon" class="social-icons">
            </a>
        </div>
    </div>
    
    <div class="footer-directory text-size-small">
        
        <div class="footer-directory-column">
            <div class="footer-directory-column-title text-weight-medium">Get in touch</div>
            <ul class="footer-directory-column-list">
                
                <li class="footer-directory-column-item">
                    <a class="footer-directory-column-link" href="mailto:hello@damianpetrov.com">Email</a>
                </li>
                
                <li class="footer-directory-column-item">
                    <a class="footer-directory-column-link" href="https://github.com/damian-dp" target="_blank"> GitHub</a>
                </li>
                
                <li class="footer-directory-column-item">
                    <a class="footer-directory-column-link" href="https://www.twitter.com/damianpetrov_" target="_blank"> Twitter</a>
                </li>
                
                <li class="footer-directory-column-item">
                    <a class="footer-directory-column-link" href="https://www.linkedin.com/in/damianpetrov/" target="_blank"> LinkedIn</a>
                </li>

            </ul>
        </div>
        
        <div class="separatorY"></div>
                    
        <div class="footer-directory-column">
            <div class="footer-directory-column-title text-weight-medium">Design Projects</div>
            <ul class="footer-directory-column-list">
                
                <li class="footer-directory-column-item">
                    <a class="footer-directory-column-link link-delay" href="/projects/cbco_brewing.html">CBCo Brewing</a>
                </li>
                
                <li class="footer-directory-column-item">
                    <a class="footer-directory-column-link link-delay" href="/projects/wednesday_sessions.html">Wednesday Sessions</a>
                </li>
                
                <li class="footer-directory-column-item">
                    <a class="footer-directory-column-link link-delay" href="/projects/hella_good.html">Hella Good</a>
                </li>
                
                <li class="footer-directory-column-item">
                    <a class="footer-directory-column-link link-delay" href="/projects/biker_co.html">Biker Cō</a>
                </li>

                <!-- <li class="footer-directory-column-item">
                    <a class="footer-directory-column-link" href="URL"> Seed & Sprout</a>
                </li>

                <li class="footer-directory-column-item">
                    <a class="footer-directory-column-link" href="URL"> Monash University</a>
                </li> -->

            </ul>
        </div>         
        
        <div class="separatorY"></div>
                    
        <div class="footer-directory-column">
            <div class="footer-directory-column-title text-weight-medium">Development Projects</div>
            <ul class="footer-directory-column-list">
                
                <li class="footer-directory-column-item">
                    <a class="footer-directory-column-link link-delay" href="/projects/portfolio_website.html">Portfolio Website</a>
                </li>
                
                <li class="footer-directory-column-item">
                    <a class="footer-directory-column-link link-delay" href="/projects/api_web_server.html">API Web Server</a>
                </li>
                
                <li class="footer-directory-column-item">
                    <a class="footer-directory-column-link link-delay" href="/projects/full_stack_app.html">Full Stack App</a>
                </li>
                
                <li class="footer-directory-column-item">
                    <a class="footer-directory-column-link link-delay" href="/projects/raw_feeding_web_app.html">Raw Feeding Web App</a>
                </li>

                <!-- <li class="footer-directory-column-item">
                    <a class="footer-directory-column-link" href="URL"> Seed & Sprout</a>
                </li> -->

            </ul>
        </div>        
        
        <div class="separatorY"></div>
        
        <div class="footer-directory-column">
            <div class="footer-directory-column-title text-weight-medium">Articles</div>
            <ul class="footer-directory-column-list">
                
                <li class="footer-directory-column-item">
                    <a class="footer-directory-column-link link-delay" href="/articles/goodbye_sass_welcome_back_native_css.html">Native CSS in 2024</a>
                </li>
                
                <li class="footer-directory-column-item">
                    <a class="footer-directory-column-link link-delay" href="/articles/database_for_newbies_a_theoretical_approach.html">Database for newbies</a>
                </li>
                
                <li class="footer-directory-column-item">
                    <a class="footer-directory-column-link link-delay" href="/articles/2024_coding_language_cheat_sheet_collection.html">Cheat sheet collection</a>
                </li>

                <li class="footer-directory-column-item">
                    <a class="footer-directory-column-link link-delay" href="/articles/a_modern_approach_to_colour_theory_on_the_web.html">Colour and accessibility</a>
                </li>
                
                <li class="footer-directory-column-item">
                    <a class="footer-directory-column-link link-delay" href="/articles/finding_inspiration_to_build.html">Finding inspiration to build</a>
                </li>

            </ul>
        </div>    

    </div>
    
    <div class="footer-bottom text-size-small">
        <div class="footnote">© <span id="current-year">2000</span> Damian Petrov. All rights reserved.</div>
        <div class="local-data">
            <div id="local-name">Melbourne</div>
            <div id="local-time">17:04:03</div>
            <div id="local-temp">15°C</div>
        </div>
    </div>

</footer>