<link rel="stylesheet" href="./components/nav/nav.css">

<nav>
    <a id="all-tab" class="navlink" href="./#all">All</a>
    <a id="design-tab" class="navlink" href="./#design">Design</a>
    <a id="dev-tab" class="navlink" href="./#dev">Development</a>
    <a id="projects-tab" class="navlink" href="./#all">Projects</a>
    <a id="articles-tab" class="navlink" href="./#articles">Articles</a>
    <div class="separatorY navSeparator"></div>
    <a id="about-page" class="navlink" href="./about.html">About</a>
</nav>
