<link rel="stylesheet" href="./components/nav/nav.css">

<nav>
    <a id="all-tab" class="navlink" href="./index.html#all">All</a>
    <a id="design-tab" class="navlink" href="./index.html#design">Design</a>
    <a id="dev-tab" class="navlink" href="./index.html#dev">Development</a>
    <a id="projects-tab" class="navlink" href="./index.html#all">Projects</a>
    <a id="articles-tab" class="navlink" href="./index.html#articles">Articles</a>
    <div class="separatorY navSeparator"></div>
    <a id="about-page" class="navlink current" href="./about.html">About</a>
</nav>
